* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body,
html {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    background: #7e0505;
}

header {
    width: 100%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    font-size: 22px;
}

section {
    width: 100%;
    display: flex;
}

.thing {
    width: 90%;
    margin-left: 5%;
    flex: 1;
}

dl {
    width: 30%;
    display: inline-block;
    background: #fff;
    margin-top: 2px;
}

dl img {
    width: 70%;
    padding: 15%;
}

dd {
    text-align: center;
    color: #f00;
    font-size: 14px;
    line-height: 18px;
}

footer {
    height: 44px;
    background: #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
}

ul {
    width: 100%;
}

ul li {
    width: 20%;
    float: left;
    line-height: 44px;
    text-align: center;
}